{{>admin/admin_header}}
<div class="container mt-4">
    <h2>광고 리스트 페이지</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">파일 이름</th>
            <th scope="col">광고 시작</th>
            <th scope="col">광고 종료</th>
        </tr>
        </thead>
        <tbody>
        {{#list}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/admin/ad/detail/{{id}}">{{title}}</a></td>
                <td>{{originFileName}}</td>
                <td>{{formattedStartTime}}</td>
                <td>{{formattedEndTime}}</td>
            </tr>
        {{/list}}
        </tbody>
    </table>

    <a href="/admin/ad/save" class="btn btn-primary">새 광고 등록</a>
    <!-- 페이지네이션 -->
    <nav aria-label="Page navigation">
        <ul class="pagination" id="paginationContainer">
            {{#prevPage}} <!-- 이전 페이지가 있을 때 -->
                <li class="page-item">
                    <a class="page-link" href="?page={{prevPage}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {{/prevPage}}

            <!-- 페이지 번호 표시 -->
            <script>
                const totalPages = {{totalPages}}; // 전체 페이지 수
                const currentPage = {{currentPage}}; // 현재 페이지 (0-based)
                const paginationContainer = document.getElementById("paginationContainer");

                // 페이지 번호 링크 생성
                for (let i = 0; i < totalPages; i++) {
                    const pageItem = document.createElement("li");
                    pageItem.className = "page-item" + (i === currentPage ? " active" : ""); // 현재 페이지에 active 클래스 추가
                    pageItem.innerHTML = `<a class="page-link" href="?page=${i}">${i + 1}</a>`; // 1-based로 표시
                    paginationContainer.appendChild(pageItem);
                }

                // 다음 페이지 링크
                {{#nextPage}}
                    const nextPageItem = document.createElement("li");
                    nextPageItem.className = "page-item";
                    nextPageItem.innerHTML = `<a class="page-link" href="?page={{nextPage}}">다음</a>`;
                    paginationContainer.appendChild(nextPageItem);
                {{/nextPage}}



            </script>
        </ul>
    </nav>


    {{^list}}
        <tr>
            <td colspan="8" class="text-center">광고가 없습니다</td>
        </tr>
    {{/list}}
</div>

