
</div>
<footer>
    <div class="lower-div">
        <a>회사소개</a>
        <a>인재채용</a>
        <a>회원약관</a>
        <a>개인정보 처리방침</a>
    </div>
    <p>다모아 고객센터 051-222-2222 (평일 09:00-18:00)</p>
    <p>다모아 이메일 damoaHelp@damo.co.kr</p>
    <p>(주) 다모아</p>
</footer>

</head>