{{>layout/header}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style type="text/css">
    .notice-title {
        text-align: center;
        margin: 20px 0;
    }
    .notice-list-container {
        width: 60%;
        min-height: 100px;
        max-height: 60vh;
        border-radius: 10px;
        background: white;
        margin: auto; /* Center the container */
        padding: 20px; /* Added padding for better spacing */
    }
    .notice-box {
    box-shadow: 2px 2px 5px #dee2e6;
        border-radius: 10px;
        background: white;
        min-height: 20vh;
        margin: 10px 0; /* Margin between notice boxes */
        padding: 15px; /* Added padding for better spacing */
        transition: transform 0.2s; /* Smooth hover effect */
    }
    .notice-box:hover {
        transform: scale(1.02); /* Scale effect on hover */
    }
      /* Title Banner */
        .sub-title {
            background: #4ca9f4;
            color: #ffffff;
            font-weight: bold;
            margin: 1em 0em;
            padding: 15px 10px;
            border-radius: 25px 25px 25px 0px;
        }
</style>

<div class="notice-title">
    <h3>공지사항 </h3>
</div>

<div class="notice-list-container">
    <h3 class="sub-title">Notice</h3>
    {{#notice}}
        <div class="notice-box">
            <h4><b>{{title}}</b></h4>
            <p style="color: gray;">{{createdAt}}</p>
            <p style="margin: 30px;">{{content}}</p>
            <button class="btn btn-primary" onclick="location.href='/notice'">목록으로 돌아가기</button>

        </div>
    {{/notice}}
</div>

{{>layout/footer}}